<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>No Preview | TripRiff Component Library</title>
      <link rel="stylesheet" href="{{ path '/app.css' }}">
  </head>

  <body>
    <div class="textblock" style="margin: 25px">
      <h1>No Preview</h1>
      <p>This component is either hidden by default, or used as a wrapper. If it's a wrapper component then view the info tab for references.</p>
    </div>
  </body>
</html>
