.button {
  appearance: none;
  background-color: $color-interactive2;
  border-radius: $border-radius;
  color: $color-light;
  padding: $gridspacing $gridspacing * 2;
}

.button-x-inverted {
  background-color: $color-light;
  border: $gridspacing / 8 solid $color-interactive1;
  color: $color-interactive1;
}
